<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<div class="">
  <%= form_tag articles_path, method: :get do %>
    <%= select_tag :category, options_from_collection_for_select(Category.all, 'name', 'name'), include_blank: true %>
    <%= submit_tag('Search') %>
  <% end %>
</div>

<p>
  Download:
  <%= link_to "CSV", articles_path(format: "csv") %>
  <%= link_to "Excel", articles_path(format: "xlsx") %>
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Body</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.category %></td>
        <td><%= article.body %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
